body, html {
    font-family: Arial;
    margin: 20px;
    padding: 0;
    background-color: #ecd9c6
    ;
}

/* Add a deep burgundy background color to the top navigation */
.topnav {
    background-color:#800020;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of links on hover is "burly wood" */
.topnav a:hover {
    background-color: #DEB887;
    color:#800020;
}

.card{
    margin-bottom: 12px;
    display: flex;
}

.card-title{
    background-color:#800020;
    color: white;
}

.card-body{
    
}

/* ,card-footer{
    background-color:  deepskyblue;
    color: white;
} */

h2 {text-align: center};

.card-img-top{
    width:50px;
    height:50px
    }

img {
        width: 200px;
        height: 400px;
        object-fit: cover;
    }


    
    /* #banner{
         
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT8O-3fQG72DB35fD_R7Me9gTosNWPDYnzdB54XJFqXYW-6ma44Q);
height: 295px;
background-size 100%;
} */

.jumbotron{
    background-image: url("https://ifriendsandmy.files.wordpress.com/2013/11/now-showing.png?w=637&h=196");
    background-repeat: no-repeat;
    background-size: cover;
    height: 295px;
    
}