<h1>Movies</h1>
<div class="container">

    <div class="movies">
        <h3>Add a Movie</h3>
        <input required type="text" ng-model="vm.addNewSale.cost" placeholder="Title">
        <input required type="text" ng-model="vm.addNewSale.cost" placeholder="Genre">
        <input required type="text" ng-model="vm.addNewSale.sqft" placeholder="Release Date">
        <input required type="text" ng-model="vm.addNewSale.city" placeholder="Run Time">
        <input required type="text" ng-model="vm.addNewSale.image" placeholder="Image">

        <button class="btn btn-info" ng-click="vm.addNewProperty(vm.addNewSale)">Submit</button>
    </div>

    <!-- Movie cards -->
    <div class="card-deck">
        <div class="card">
            <div class="row">
                <div class="col-md-4" ng-repeat="movie in vm.movieArray" style="width: 18rem;">
                    <img class="card-img-top" src="{{movie.image}}"
                        alt="Card image cap">
                    <div class="movie-cards">
                        <h4 class="card-title">{{movie.title}}</h4>
                        <h6 class="card-text">{{movie.genre}}</h6>
                        <h6 class="card-text">{{movie.release_date}}</h6>
                        <p class="footer">{{movie.run_time}}</p>
                        <button type="button" ng-click="movie in vm.deleteMovie" class="btn btn-info">Delete this
                            Property</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- above - end row class -->
    </div>
    <!-- above - end card class -->
</div>
<!-- above - end container class -->

<pre>{{vm | json }}</pre>
</div>